* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  /*video background*/
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

  /* navbar */
  
  .content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    border-bottom: #ddd 2px solid;
  }
  
  .links a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 30px;
    color: rgb(245, 207, 207);
  }

  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .logo img{
    width: 100px;
    height: 90px;
  }


 /* change */
  

  main{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 300px;
    color: rgb(245, 207, 207);
  }

  main hr{
    width: 50%;
  }

  .bouncing-arrow , .more img{
    margin-top: 30px;
    font-size: 2rem;
    text-align: center;
    animation: bounce 1s infinite;
    position: relative;
    display: inline-block;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .bouncing-arrow img , .more img{
    width: 100px;
    height: 90px;
    filter: invert(1);
    cursor: pointer;
  }


  .card{
    width: 25em;
    color: black;
    background-color: rgba(255, 228, 196,0.4);
    text-align: center;
    padding: 15px;
  }

  article{
    /* display: flex; */
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 100px 2px;
    display: none;
  }

  .card img{
    width: 150px;
    height: 150px;
  }

  .more{
    color: red;
    text-align: center;
    display: none;
  }